.ok1 {
  background: url('#index_ok1');
}

.ok2 {
  background: url('#index_ok2');
}

.ok3 {
  background: url('#index_ok3');
}

section {
  background: url('#index_ok4');
}

.no1 {
  background: url('#index_no1');
}

h2 {
  background: url('#index_no2');
}
