.whitelist {
  background: url('#whitelist_ok');
}

#whitelistRegex {
  background: url('#whitelist_regex_ok');
}

/* purgecss ignore */
button {
  background: url('#whitelist_comment_ok');
}

/* purgecss start ignore */
button:hover {
  background: url('#whitelist_commentblock_ok');
}
​
.yo {
  background: url('#whitelist_commentblock2_ok');
}
/* purgecss end ignore */